

IndentWidth: 4
ColumnLimit: 0

---

Language: C

DerivePointerAlignment: false
PointerAlignment: Left

AlignEscapedNewlines: LeftWithLastLine
IndentPPDirectives: BeforeHash
PPIndentWidth: 4

IndentCaseLabels: true
